*{
    box-sizing: border-box;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background: linear-gradient(
        150deg,
        #42b883 10%,
        #35495e 100%
    );
    font-family: 'Bebas Neue', cursive;
    height: 100vh;

}
.container{
    position: relative;
}
.app{
    font-size: 32px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;

}
.title{
    text-align: center;
    font-size: 50px;
    padding: 2rem;
}
.input-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    all: unset;
    padding: .5rem 1.5rem;
    transition: .5s;
    text-transform: uppercase;

}
.input::placeholder{
    color: white;
    font-style: italic;
}
.add-button{
    all: unset;
    cursor: pointer;
    border: 1px solid white;
    padding: .5rem 1.5rem;
}
.add-button:hover{
    background-color: white;
    color: #42b883;
    transition: .5s;
}
[v-cloak]{
  display: none;

}
.error{
    width: 100%;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    font-size: 24px;
    text-align: center;
    padding: 1rem;
    transition: .5s;
}
.names{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    left:50%;
    bottom: -50%;
    transform: translate(-50%, -50%);
}
.names-card{
    border-radius: 15px;
    border: 2px solid white;
    font-size: 24px;
    padding: .5rem 1.2rem;
    transition: .3s;
}

.names-card:hover{
    background-color: #C70000;
    cursor: pointer;
    border-color: #C70000;
}
.winner-box{
    position: absolute;
    padding: 1rem;
    left:50%;
    bottom: -100%;
    transform: translateX(-50%);
}
.winner-button{
    all: unset;
    cursor: pointer;
    border: 2px solid white;
    padding: .5rem 1.5rem;
    font-size: 24px;
}
.winner-button:hover{
    animation: tremble .3s infinite;
}
@keyframes tremble{
    0% { transform: rotate( 0deg) }
    25% { transform: rotate(-2deg) }
    50% { transform: rotate( 2deg) }
    75% { transform: rotate( -2deg) }
    100% { transform: rotate( 0deg) }
}
.looser{
    font-style: bold;
    color: #42b883;
    text-shadow: 1px 1px white;
}
.results{
    margin-top: 4rem;
}
.play-again-box{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-again-button{
    all: unset;
    cursor: pointer;
    border: 2px solid white;
    padding: .5rem ;
    font-size: 24px;
    background-color: #42b883;
    color: white;
    transition: .3s;
}
.play-again-button:hover{
    background-color: white;
    color: #42b883;
}